@media screen and (max-width: 780px) {
    
    /* btn */
    .btn_ohnous
    {
        cursor: initial;
    }
    /* intro */

    .intro-hero {
        margin: 20px 0px;
        padding: 120px 0px;
        position: relative;
        width: 100%;
        height: 400px;
        background: var(--blanc);
        overflow: visibility;
        display: flex;
        align-items: center; /* Centre verticalement */
        justify-content: center; /* Centre horizontalement */
        text-align: center; /* Texte centré */
        border-radius: 50px;
    }
    .intro-hero.sans_categorie
    {
        margin-top: 10px;
        height: 50px;
        overflow: hidden;
    }
    .sans_categorie
    .blob-bg {
        position: absolute;
        width: 150px; /* Taille de la bulle sur écran large */
        height: 150px;
    }
    .sans_categorie
    .intro-text h1
    {
        font-size: 0px;
    }
    #changing-word {
        display: inline;
        transition: opacity 0.4s ease-in-out;
        min-width: 100%;
        font-size: 60px;
        color: var(--noir);
    }
    #changing-word {
        margin-top: 50px;
    }
    /* search bare */
    .search_bar
    {
        width: 95%;
    }
    .input_search_bar {
        padding: 10px;
    }
    .div_search_bar.all.sans_categorie
    {
        top: 45px;
    }
    /* panier */
    .slide_panier
    {
        width: 75%;
        overflow: auto;
    }
    .div_compte_panier
    {
        bottom: 0px;
        left: 25%;
        width: 75%;
    }
    .div_img_detail_panier
    {
        width: 35%;
        padding: 2px;
        height: 180px;
    }
    .div_supp_produit_panier
    {
        cursor: initial;
    }
    .div_supp_produit_panier
    {
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        color: var(--noir);
        font-size: 12px;
    }
    .infos_detail_panier
    {
        width: 65%;
        padding: 10px;
    }
    /* table */
    .table-grid td:hover
    {
        cursor: initial;
    }
    /* produit */
    .like_affiche_produit
    {
        cursor: initial;
    }
    .boutton_panier_affiche_produit
    button
    {
        cursor: initial;
    }
    .div_affiche_produit
    {
        width: 100%;
        padding: 10px;
    }
    .vue_article
    .div_affiche_produit
    {
        width: 100%;
    }
    .div_img_affiche_produit
    {
        height: 450px;
        }
    .container_affiche_produit.vue_article
    {
        width: 100%;
    }
    .container_filtre_produit
    {
        width: 100%;
        margin: 20px 0px;
        padding: 10px;
    }
    .detail_liste_filtre_produit
    {
        cursor: initial;
    }








    .null{
        display: none;
    }
}