body
{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f2f2f2;
}

*{
    --blanc: #ffffff;
    --noir: #000000;
    --griz: #999999;
    --base_1_couleur: #6775d6;
    --base_1_couleur_nuance_1: #4b5596ff;
    --base_2_couleur: #ffabe7;
    --base_3_couleur: #b390df;
    --vert: #4eb365ff;
    --vert_nuance_1: #3c844dff;
    --rouge: #dc3545;
    box-sizing: border-box;
}
/* header */
header
{
    width: 100%;
    height: 90px;
    margin: 0;
    background: var(--blanc);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 4;
}
body
{
    padding-top: 90px;
}
body.blocked_scroll
{
    overflow: hidden;
}
/* input */
input,
textarea,
select
{
    outline: none;
    border: none;
}
/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
/* btn */
.btn_ohnous,
.btn_ohnous.btn-primary
{
    background: var(--base_1_couleur);
    color: var(--blanc);
    outline: none;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.btn_ohnous:hover,
.btn_ohnous.btn-primary:hover
{
    background: var(--base_1_couleur_nuance_1);
}
.btn_ohnous.second,
.btn_ohnous.btn-secondary
{
    background: var(--blanc);
    border: 1px solid var(--base_1_couleur);
    color: var(--base_1_couleur);
}
.btn_ohnous.second:hover,
.btn_ohnous.btn-secondary:hover
{
    border: 1px solid var(--base_1_couleur_nuance_1);
}
.btn_ohnous.btn-success
{
    background: var(--vert);
    color: var(--blanc);
}
.btn_ohnous.btn-success:hover
{
    background: var(--vert_nuance_1);
}
.btn_ohnous:active
{
    opacity: .5;
}
/* logo */
.logo
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    overflow: hidden;
    padding: 5px;
    position: relative;
}
.logo img
{
    height: 25px;
}
/* panier */
.menu_banniere_droit
{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    text-align: right;
}
.menu_banniere_link
{
    color: var(--noir);
    outline: none;
    text-decoration: none;
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    border-bottom: 1px solid var(--griz);
    position: relative;
}
.menu_banniere_link span
{
    position: absolute;
    top: 5px;
    right: 5px;
    background: var(--base_1_couleur);
    color: var(--blanc);
    font-size: 12px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_banniere_link:hover
{
    background: var(--base_3_couleur);
    border: none;
}
.div_slide_panier
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: 5;
    display: block;
    display: none;
}
.div_slide_panier.active
{
    display: block;
}
.background
{
    background: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.slide_panier
{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    width: 50%;
    background: var(--blanc);
    transition: .5s;
}
.contenu_slide_panier
{
    position: absolute;
    padding: 0px 20px;
    padding-top: 35px;
    padding-bottom: 55px;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
}
.div_sortie_slide_panier
{
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    display: block;
    text-align: right;
    padding: 10px;
}
.titre_panier
{
    color: var(--base_1_couleur);
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.detail_panier
{
    display: flex;
    flex-wrap: wrap;
}
.div_img_detail_panier
{
    margin-top: 10px;
    width: 25%;
    position: relative;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}
.div_supp_produit_panier
{
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, .8);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    color: var(--noir);
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid var(--griz);
}
.div_supp_produit_panier:active
{
    opacity: .5;
}
.infos_detail_panier
{
    width: 75%;
    padding: 10px;
}
.infos_detail_panier
p
{
    margin: 5px 0px;
    padding-bottom: 10px;
}
.titre_produit_detail_panier
{
    font-size: 18px;
    font-weight: bold;
}
.div_compte_panier
{
    position: fixed;
    bottom: 0px;
    left: 50%;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    z-index: 2;
}
.div_total_panier
{
    width: 50%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
.total_panier
{
    width: 50%;
    padding: 10px;
    font-size: 16px;
    display: inline-block;
    width: 100%;
}
.total_panier
p
{
    display: inline;
}
.total_panier
a
{
    color: var(--blanc);
    text-decoration: none;
    font-weight: bold;
}
/* banniere */
.banniere
{
    height: 40px;
    width: 100%;
    background: var(--blanc);
    position: relative;
    flex-wrap: wrap;
}
.categories
{
    width: 100%;
    height: 40px;
}
.categories
.swiper
{
    width: 100%;
    height: 40px;
}
.categories
.swiper-wrapper
{
    width: 100%;
    height: 40px;
    padding: 5px 0px;
}
.categories
.swiper-slide
{
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 5px 10px;
    margin: 0px 10px;
    text-decoration: none;
    outline: none;
    font-size: 16px;
    color: var(--blanc);
    border-radius: 20px;
    background: var(--noir);
}
/* intro */
.intro-hero {
    margin: 20px 0px;
    padding: 120px 0px;
    position: relative;
    width: 100%;
    height: 600px;
    background: var(--blanc);
    overflow: visibility;
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    text-align: center; /* Texte centré */
    border-radius: 50px;
}

.blob-bg {
    position: absolute;
    width: 250px; /* Taille de la bulle sur écran large */
    height: 250px;
    background: radial-gradient(circle at 30% 30%, var(--base_2_couleur), var(--base_3_couleur), var(--base_1_couleur));
    filter: blur(15px);
    border-radius: 50%;
    animation: blob 5s infinite ease-in-out;
    z-index: 1;
}

@keyframes blob {
    0% {
        transform: scale(1) translate(0, 0);
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        transform: scale(1.2) translate(20px, -30px);
        border-radius: 40% 60% 70% 30% / 50% 70% 30% 60%;
    }
    100% {
        transform: scale(1) translate(0, 0);
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.intro-text {
    position: relative;
    z-index: 2; /* Texte au-dessus de la bulle */
    color: var(--noir);
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    font-size: 100px;
}
.intro-text h1
{
    font-size: 100px;
}

#changing-word-container {
    /* Fixe la largeur du container pour éviter le "saut" */
    display: inline-block;
    width: 100%; /* Ajuste à la largeur du texte le plus long */
}

#changing-word {
    display: inline-block;
    color: #ff69b4;
    transition: opacity 0.4s ease-in-out;
    min-width: 100%;
}

@media (max-width: 768px) {/* Responsive Design */
    .blob-bg {
        width: 250px;
        height: 250px;
    }

    .intro-text {
        font-size: 4rem;
    }
    .intro-text h1
    {
        width: 100%;
        font-size: 45px;
        text-align: center;
    }
    .intro-text #changing-word-container
    {
        width: 100%;
        text-align: center;
        display: inline-block;
    }

    #changing-word-container {
        width: 250px;
    }
}
/* search bare */
.div_search_bar
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .5s;
}
.div_search_bar.active
{
    z-index: -1;
}
.div_search_bar.all
{
    position: fixed;
    top: 90px;
    height: 70px;
    background: none;
    z-index: 4;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}
.div_search_bar.all.active
{
    opacity: 1;
    visibility: visible;
}
.search_bar
{
    width: 70%;
    padding: 0px;
    border: none;
    border-radius: 50px;
    background: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: relative;
    border: 1px solid var(--griz);
}
.input_search_bar
{
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background: none;
    color: var(--noir);
}
.button_search_bar
{
    position: absolute;
    top: 5px;
    bottom: 5px;
    margin: 0;
    right: 10px;
    border-radius: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--noir);
    color: var(--blanc);
    border: none;
    outline: none;
}

/* section catégorie */
.parent_div_section_categorie
{
    width: 100%;
    display: block;
    margin: 20px 0px;
}
.section_categorie
{
    width: 100%;
}
.section_categorie
.swiper-wrapper
{
    width: 100%;
}
.section_categorie
.swiper-slide
{
    width: 400px;
    height: 150px;
    margin: 5px 10px;
    background: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--griz);
    justify-content: left;
    text-decoration: none;
    color: var(--noir);
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
.section_categorie_nom
{
    width: 75%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    color: var(--noir);
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
.section_categorie_nom
p
{
    justify-content: left;
    text-decoration: none;
    color: var(--noir);
    font-size: 20px;
    font-weight: bold;
    outline: none;    
}
.section_categorie_img
{
    width: 25%;
    padding: 0px;
    background-size: cover;
    border-radius: 0px 20px 20px 0px;
    border-top: 1px solid var(--griz);
    border-right: 1px solid var(--griz);
    border-bottom: 1px solid var(--griz);
    overflow: hidden;
}
.section_categorie_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}


/* produit */
.container_affiche_produit
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
}
.div_affiche_produit
{
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
.affiche_produit
{
    width: 100%;
    background: var(--blanc);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
    overflow: hidden;
    padding: 0px 0px;
}
.div_img_affiche_produit
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    overflow: hidden;
}
.div_img_affiche_produit
a
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_affiche_produit,
.like_affiche_produit
{
    position: absolute;
    z-index: 2;
}
.info_affiche_produit
{
    top: 10px;
    left: 10px;
    display: inline-block;
    background: rgba(0, 0, 0, .5);
    color: var(--blanc);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}
.info_affiche_produit.new
{
    background: var(--vert);
    color: var(--blanc);
}
.like_affiche_produit
{
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: var(--noir);
    outline: none;
    border: none;
    padding: 5px 10px;
    background: none;
    cursor: pointer;
    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
}
.like_affiche_produit:active
{
    opacity: .5;
}
.div_details_affiche_produit
{
    border-top: 1px solid var(--griz);
    padding: 0px 10px;
}
.div_details_affiche_produit
.nom
{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px;
}
.details_affiche_produit
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0px;
}
.prix_taille
{
    width: 50%;
}
.prix_taille
.taille
{
    font-size: 12px;
    color: var(--griz);
}
.prix_taille
.prix
{
    font-size: 16px;
    color: var(--noir);
    font-weight: bold;
}
.boutton_panier_affiche_produit
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boutton_panier_affiche_produit
button
{
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    background: var(--base_1_couleur);
    color: var(--blanc);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.boutton_panier_affiche_produit
button:active
{
    opacity: .5;
}
.boutton_panier_affiche_produit
button.active
{
    background: var(--noir);
    color: var(--blanc);
}
.blur-up {
    filter: blur(20px);
    transition: filter 0.5s ease-out;
}
.blur-up-loaded {
    filter: blur(0);
}



.null{
    display: none;
}