@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dfrwy7');
  src:  url('fonts/icomoon.eot?dfrwy7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dfrwy7') format('truetype'),
    url('fonts/icomoon.woff?dfrwy7') format('woff'),
    url('fonts/icomoon.svg?dfrwy7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-panier_moins:before {
  content: "\e922";
}
.icon-panier_plus:before {
  content: "\e923";
}
.icon-icone_cocktails:before {
  content: "\e900";
}
.icon-icone_game:before {
  content: "\e901";
}
.icon-icone_hopital:before {
  content: "\e902";
}
.icon-icone_hotel:before {
  content: "\e903";
}
.icon-icone_restaurant:before {
  content: "\e904";
}
.icon-icone_tourisme:before {
  content: "\e905";
}
.icon-icone_voiture:before {
  content: "\e906";
}
.icon-icones_date:before {
  content: "\e907";
}
.icon-icones_gourmand .path1:before {
  content: "\e908";
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path4:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path5:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path6:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path7:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icones_gourmand .path8:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path9:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path10:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path11:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path12:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path13:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path14:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path15:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path16:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path17:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path18:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_gourmand .path19:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icones_meeting:before {
  content: "\e91b";
}
.icon-icones_plage:before {
  content: "\e91c";
}
.icon-icones_soiree:before {
  content: "\e91d";
}
.icon-icones_un-verre:before {
  content: "\e91e";
}
.icon-icone_activite:before {
  content: "\e91f";
}
.icon-icone_boutique:before {
  content: "\e920";
}
.icon-icone_cinema:before {
  content: "\e921";
}
