#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Couleur de fond du loader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Pour être au-dessus du contenu */
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#loader {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.5s; /* Délai avant de commencer à disparaître */
}

#content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.loaded #loader-wrapper {
  opacity: 0;
  visibility: hidden; /* Pour ne pas interférer avec les clics */
}

.loaded #loader {
  opacity: 0;
}

.loaded #content {
  opacity: 1;
}